.info {

    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 200px;
    margin-left: 2px;
    background-color: rgb(227, 208, 208);
    border: 1px solid green;
}

.info h1 {
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.info img {

    position: relative;
    left: 20px;
    bottom: -50px;
    width: 300px;
    height: 300px;
    border-radius: 50%
    
}

.info p {
    position: relative;
    text-align: justify;
    width: 150px;
    top: -250px;
    left: 500px;


}


.work {
    margin: 16rem
        /*border: 1px  fle;*/

}

.work h1 {



    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 38, 0);

}

.work img {

    width: 150px;
    height: 150px;
    border-radius: 50%;

}