.work {
    margin: 2rem;
    padding: 16rem;
    border: 1px solid black;
    display: inline-flex;
}

.work h1 {

    

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 38, 0);

}

.work img {

    width: 150px;
    height: 150px;
    border-radius: 50%;

}