* 

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding:0;
    
    
    
    
}

.menubar {
    background-color: #fef7ed;
    text-align: right;

}

.menubar ul {
    display: inline-flex;
    list-style: none;
    color: #f30d0d;
}

.menubar ul li {
    width: 90px;
    margin: 10px;
    padding: 10px;
}

.menubar ul li a {
    text-decoration: none;
    color: #1b28e2;
    font-size: 20px;

}

.active,
.menubar ul li:hover {
    background: #dd0ce4;
    border-radius: 50%;
}

.menubar {
    margin-right: 1px;
}

.petcare {
    margin: 2px;
    background-color: #fef7ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

}
.petcare h1 {

    font-size: 8rem;
    color: #2d338a;
    font-family: "Poppins", sans-serif;
    border: #1be235 solid;
}

.petcare h2 {

    font-size: 7rem;
    color: #1b28e2;
    font-family:"Poppins", sans-serif;
    border: #1be235 solid;
}

.petcare p {
    /*border,style,colour */

    border: #e21b46 solid;
    text-align: center;
    color: #2d338a;
    font-family: 'arial', sans-serif;
}

.petcare img {
    float: inline-end;
    width: 300px;
    height: 300px;
    border: 1px solid wheat;
    border-radius: 50%
}


.service {
    margin: 8rem;
    padding: 5px;
    border: 1px solid black;
}

.service column img {
    border-radius: 50%;

}